* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3855F5;
}

/* ---------------------------------------------------------------- */

.informacion {
    border: solid 2px black;
    height: 460px;
    margin: 5rem;
    overflow: hidden;
}

.itemDatos {
    border: solid 1px black;
    height: 100%;
    position: relative;
}

.tarjeta {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.datosA {
    width: 100%;
    padding: 0.5rem;
    display: flex;
}
.datosA1 {
    padding: 0.5rem;
    font-size: 1.3rem;
    width: 290%;
    border-right: solid 0.5px black;
}
.datosA2 {
    padding: 0.5rem;
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

.conteFlechas {
    text-decoration: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

#tarjeta-1 {
    background-color: #ffffff;
}
#tarjeta-2 {
    background-color: rgb(168, 127, 255);
}
#tarjeta-3 {
    background-color: rgb(255, 127, 182);
}

.volver {
    text-decoration: none;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    background-color: #3855F5;
    color: white;
}
.siguiente {
    text-decoration: none;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    background-color: #3855F5;
    color: white;
}