* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3855F5;
}

.header_a {
    display: flex;
    margin: 0rem;
    align-items: center;
}

.header_logo {
    width: 13rem;
    height: 7rem;
}

.header_b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link {
    display: flex;
    justify-content: center;
    margin-left: 15rem;
}

.header_b_link {
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000766;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
}

.header_b_1 {
    border: solid 1px black;
    display: flex;
    width: 10rem;
    height: 2rem;
}

.whatsapp, .telegram, .twiter, .facebook, .instagram, .youtube {
    width: 2.5rem;
    height: 2rem;
}

.header_search {
    display: flex;
}

.search {
    margin-left: 6.5rem;
    height: 1.5rem;
}

.icon_search {
    margin-left: -2.5rem;
    width: 2.25rem;
    height: 1.25rem;
}

/* ----------------------------------------------------------------- */

.main {
    display: flex;
    justify-content: center;
    height: 6rem;
}

.main_a {
    border: solid 1px black;
    width: 9rem;
    height: 6rem;
}

.inicio, .quindio, .ambiental, .aliados, .practicas, .estadisticas, .normatividad, .datos, .servicios {
    width: 9rem;
    height: 6rem;
}

.datos {
    height: 6.5rem;
    filter: opacity(0.3) drop-shadow(0 0 0 #7a8efd);
}

/* -------------------------------------------------------------------- */

.main_b {
    background-color: #7a8efd;
    color: rgb(122, 142, 253);
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* --------------------------------------------------------------- */

#conteItemsCarrusel {
    height: 300px; 
    overflow: hidden;
}

.itemCarrusel {
    border: solid 1px black;
    height: 100%;
    position: relative;
}

.tarjetaCarrusel {
    height: 100%;
}

#tarjetaCarrusel-2 {
    background-color: rgb(226, 115, 187);
}
#tarjetaCarrusel-3 {
    background-color: rgb(115, 128, 226);
}
#tarjetaCarrusel-4 {
    background-color: rgb(215, 226, 115);
}

img {
    width: 100%;
    height: 100%;
}

.contePuntos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000766;
}
.contePuntos > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.datosAbiertos-1 {
    position: absolute;
    background-color: rgb(127, 190, 203);
    margin-top: 10rem;
    margin-left: 5rem;
    font-size: 2.5rem;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 1.5rem;
    width: 40rem;
}
.aprende-1 {
    position: absolute;
    margin-top: 14rem;
    margin-left: 20rem;    
    background-color: rgb(127, 190, 203);
    width: 10rem;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 0.5rem;
    color: black;
    border-radius: 1.5rem;
    border: solid 1px black;
}

.datosAbiertos-3 {
    position: absolute;
    margin-top: 5rem;
    margin-left: 40rem;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 40rem;   
}
.aprende-3 {
    position: absolute;
    margin-top: 10rem;
    margin-left: 60rem;
    background-color: black;
    width: 10rem;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 0.5rem;
    color: white;
    border-radius: 1.5rem;
    border: solid 1px white;
}

/* ------------------------------------------------------------ */

.categorias {
    border: solid 2px black;
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

.categorias_A {
    border: solid 1px black;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 1rem;
}

.categoriasA {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 2rem;
}


/* --------------------------------------------------------------- */

.footer {
    margin-top: 1rem;
    display: flex;
}

.location, .phone, .mail {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.location_a, .phone_a, .mail_a {
    width: 5rem;
    height: 2.5rem;
}

.proyect {
    margin-left: 2rem;
}

.sena, .camacol, .sennova {
    width: 15rem;
    height: 10rem;
    margin: 0.5rem;
}

.derechos {
    border: solid 1px black;
    background-color: rgb(122, 122, 122);
    text-align: center;
    font-size: 0.5rem;
    color: white;
}

/* --------------------------------------------------------------- */