* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3855F5;
}

.header_a {
    display: flex;
    margin: 0rem;
    align-items: center;
}

.header_logo {
    width: 13rem;
    height: 7rem;
}

.header_b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_link {
    display: flex;
    justify-content: center;
    margin-left: 15rem;
}

.header_b_link {
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000766;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
}

.header_b_1 {
    border: solid 1px black;
    display: flex;
    width: 10rem;
    height: 2rem;
}

.whatsapp, .telegram, .twiter, .facebook, .instagram, .youtube {
    width: 2.5rem;
    height: 2rem;
}

.telegram {
    width: 2.5rem;
    height: 2rem;
}

.twiter {
    width: 2.5rem;
    height: 2rem;
}

.facebook {
    width: 2.5rem;
    height: 2rem;
}

.youtube {
    width: 2.5rem;
    height: 2rem;
}

.instagram {
    width: 2.5rem;
    height: 2rem;
}

.header_search {
    display: flex;
}

.search {
    margin-left: 6.5rem;
    height: 1.5rem;
}

.icon_search {
    margin-left: -2.5rem;
    width: 2.25rem;
    height: 1.25rem;
}

/* ------------------------------------------------------------------ */

.main {
    display: flex;
    justify-content: center;
    height: 6rem;
}

.main_a {
    border: solid 1px black;
    width: 9rem;
    height: 6rem;
}

.inicio, .quindio, .ambiental, .aliados, .practicas, .estadisticas, .normatividad, .datos, .servicios {
    width: 9rem;
    height: 6rem;
}

/* --------------------------------------------------------------------- */

.scroll {
    border: solid 1px black;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.scroll_a {
    border: solid 1px black;
}

.scroll_image {
    width: 83rem;
    height: 25rem;
}

.left, .rigth {
    width: 10rem;
    height: 2rem;
}


/* -------------------------------------------------------------------- */

.noticias {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #0926cb;
}

.img_noticias {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noti_1, .noti_2, .noti_3 {
    width: 25rem;
    height: 15rem;
    margin: 0.5rem;
}

.title {
    color: white;
    margin: 0.5rem;
    font-size: 1.5rem;
}

/* ------------------------------------------------------------------ */

.footer {
    margin-top: 1rem;
    display: flex;
}

.location, .phone, .mail {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.location_a, .phone_a, .mail_a {
    width: 5rem;
    height: 2.5rem;
}

.proyect {
    margin-left: 2rem;
}

.sena, .camacol, .sennova {
    width: 15rem;
    height: 10rem;
    margin: 0.5rem;
}